<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1 class="_title text-warning text-center">
                <i class="fa fa-pen"></i>
                Edit Contact
            </h1>
            <span class="fst-italic mt-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est repellendus
                ullam
                laboriosam, tempora
                ipsa perferendis fugiat a dolorum ipsam, sapiente dicta ad laudantium facilis veritatis ipsum totam cum
                molestiae fuga! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio vel itaque dolorem
                perspiciatis debitis, eligendi vero, dolore id, dicta laboriosam sit quis eum repellendus tempora
                provident ipsum animi fugiat tenetur!</span>
        </div>
    </div>
</div>

<!-- Contact form-->
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo URL">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Moblie No.">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-primary" value="Create">
                    <a routerLink="/" class="btn btn-warning ms-2">
                        Close
                    </a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Fbmz98uGL5zx0dPHLVFmOaBRO46-YJo33kmAtW7zNHoj30XFGi2J0zKzqVWXTDlj8Bc&usqp=CAU"
                alt="user" class="contact-img">
        </div>
    </div>
</div>